<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="mailapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="cfiles.frontend.rap.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Bestand"
            class="cfiles.frontend.rap.Perspective"
            id="cfiles.frontend.rap.perspective">
      </perspective>
      <perspective
            class="cfiles.frontend.rap.AdminPerspective"
            id="cfiles.frontend.rap.adminperspective"
            name="Administration">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            name="Document"
            icon="icons/sample2.gif"
            class="cfiles.frontend.rap.View"
            id="cfiles.frontend.rap.view">
      </view>
      <view
            name="Mailboxes"
            icon="icons/sample3.gif"
            class="cfiles.frontend.rap.NavigationView"
            id="cfiles.frontend.rap.navigationView">
      </view>
      <view
            class="cfiles.frontend.rap.BrowserView"
            id="cfiles.frontend.rap.BrowserView"
            name="Content"
            restorable="true">
      </view>
      <view
            class="cfiles.frontend.rap.HeaderView"
            id="cfiles.frontend.rap.headerview"
            name="Info"
            restorable="true">
      </view>
      <view
            class="cfiles.frontend.rap.FilteredNavigationView"
            id="cfiles.frontend.rap.filteredNavigationView"
            name="Structure"
            restorable="true">
      </view>
      <view
            class="cfiles.frontend.rap.FulltextListView"
            id="cfiles.frontend.rap.fulltextListView"
            name="FullText"
            restorable="true">
      </view>
      <view
            class="cfiles.frontend.rap.AttachmentContentView"
            id="cfiles.frontend.rap.attachmentContentView"
            name="Plaintext"
            restorable="true">
      </view>
      <view
            class="cfiles.frontend.rap.AnnotationView"
            id="cfiles.frontend.rap.annotationview"
            name="Annotations"
            restorable="true">
      </view>
      <view
            class="cfiles.frontend.rap.admin.ServerStatsView"
            id="cfiles.frontend.rap.admin.serverstatsview"
            name="Server State"
            restorable="true">
      </view>
      <view
            class="cfiles.frontend.rap.admin.FtxStatsView"
            id="cfiles.frontend.rap.admin.ftxstatsview"
            name="FTI State"
            restorable="true">
      </view>
      <view
            class="cfiles.frontend.rap.admin.ImporterStatsView"
            id="cfiles.frontend.rap.admin.importerstatsview"
            name="Importer Status"
            restorable="true">
      </view>
      <view
            class="cfiles.frontend.rap.admin.DBChangesView"
            id="cfiles.frontend.rap.admin.dbchangesview"
            name="DB Changes"
            restorable="true">
      </view>
      <view
            class="cfiles.frontend.rap.RevisionListView"
            id="cfiles.frontend.rap.revisionlistview"
            name="Versions"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="cfiles.frontend.rap.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="cfiles.frontend.rap.category"
            id="cfiles.frontend.rap.open">
      </command>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="cfiles.frontend.rap.mailapp"
            id="cfiles.frontend.rap.branding1"
            servletName="docbrowser"
            themeId="org.eclipse.rap.rwt.theme.Default"
            title="//cfiles// document browser">
      </branding>
   </extension>
   <extension
         id="product"
         name="FolderCloud Dokumentenbrowser"
         point="org.eclipse.core.runtime.products">
      <product
            application="cfiles.frontend.rap.mailapp">
         <property
               name="appName">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/browserservlet"
            class="cfiles.frontend.rap.servlets.BrowserServlet"
            load-on-startup="true">
      </servlet>
   </extension>

</plugin>
